:root {
  --min-height: 100vh;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-color-primary: #F86F03;
  --font-color-secondary: white;

  --background-color-primary: #2B2B2B;
  --background-color-secondary: #5B330F;
  --background-color-tertiary: #88B7D8;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h2 {
  color: white;
}